/* -основной цвет #E5E5E5 */
/* -ДОполнительный цвет #2F303A */
/* -основной цвет текста #212121 */
/* -второстипенный цвет текта #757575 */
/* -цвет текста при наведении #2196F3 */
:root {
  /* основной цвет текста */
  --primary-text-color: #212121;
  /* Дополнительный цвет текста */
  --titel-text-color: #757575;
  /* цвет текста при наведении */
  --second-text-color: #2196f3;
  /* Основной цвет фона */
  --primary-bg-color: #e5e5e5;
  /* цополнительный цвет фона */
  --second-bg-color: #2f303a;

  --button-text-color: #f5f4fa;
  /* второй цвет логотипа */
  --logo-blakc-color: #000000;
  --logo-white-color: #ffffff;
  /* цвет текста на кнопке */
  --nav-color-border: #ececec;
}
/* уберание точки в перечислении*/
.list {
  list-style: none;
}
/* основные  стили к странице */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-style: normal;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.container {
  /* outline: 2px solid tomato; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* логотип */
.logo {
  color: var(--second-text-color);

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo .logo-studio-blakc {
  color: var(--logo-blakc-color);
}
.logo .logo-studio-white {
  color: var(--logo-white-color);
}
/* --------------НАВИГАЦИЯ--------------------------- */
.site-nav .link {
  color: var(--primary-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--second-text-color);
}
/* контакты в шапке сайта */
.auth-nav .link-contact {
  color: var(--titel-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* иконки конверта и телефона в шапке ссайта */

.item-envelope {
  margin-right: 10px;

  fill: var(--titel-text-color);
}
.item-contact {
  margin-right: 10px;

  fill: var(--titel-text-color);
}
.link-contact {
  display: inline-flex;
  align-items: center;
}
.auth-nav .link-contact:hover .item-envelope-svg {
  fill: var(--second-text-color);
}
.auth-nav .link-contact:hover .item-contact-svg {
  fill: var(--second-text-color);
}

/* цвет ховера на ссылки */
.auth-nav .link-contact:focus,
.address-footer .link-contact:hover,
.auth-nav .link-contact:hover,
.address-footer .link-contact:focus,
.address-footer .address:focus,
.address-footer .address:hover {
  color: var(--second-text-color);
}
.auth-nav.list {
  display: flex;
  margin-left: auto;
}
.site-nav.list {
  display: flex;
  margin-left: 93px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 0px;
}
.header-flex {
  display: flex;
  align-items: center;
}
.header-border {
  border-bottom: 1px solid var(--nav-color-border);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* кнопки навигации сделанны больше засчет падингов */
.site-nav .link,
.item .link-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
/*-------------------FOOTER--------------------------*/
.address-footer {
  font-style: inherit;
}
.footer {
  background-color: var(--second-bg-color);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.address-footer .address {
  color: #ffffff;
  text-decoration: none;
}
.container .list-button + .list-button {
  margin-left: 8px;
}
/* контакты футора */
.address-footer .link-contact {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  line-height: 1.71;
}
.address-footer .link-contact + .link-contact {
  margin-bottom: 9px;
}
.space-address:not(:last-child) {
  margin-bottom: 9px;
}
.footer .container {
  padding: 0 15px 60px 15px;
  display: flex;
}
.footer-address-box {
  margin-top: 60px;
}
.footer .list {
  padding-left: 0;
}
.logo.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.footer-social-text {
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-social-box {
  margin-left: 70px;
  margin-top: 72px;
}
.footer-link-box {
  display: flex;
  margin-top: 20px;
}
/* соц сети в футоре */
.footer-social-link {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-social-link + .footer-social-link {
  margin-left: 10px;
}
.footer-social {
  fill: #ffffff;
  margin-left: 12px;
  margin-top: 12px;
}
.footer-social-link:hover {
  background: var(--second-text-color);
}

/*--------------------------HERO------------------------*/

.hero {
  text-align: center;

  background-color: var(--second-bg-color);
  background: rgba(47, 48, 58, 0.4);
  background-image: url(../images/banner_overla_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 30px;
}
.hero > .button.primary {
  background-color: var(--second-text-color);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}
/* ---------------------Приемущество---------------------*/

.advantage .advantage-title {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.advantage .text {
  color: var(--titel-text-color);

  margin: 0;
}
.advantage-svg-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: #f5f4fa;
}
.advantage-svg {
  margin: 25px 100px;
}
/* оформление с применением flex */

.display-none-advantage,
.content-heading {
  display: none;
}
.advantage .list {
  display: flex;
  margin: 0 0 94px 0;
  padding: 0;
}
.advantage .item {
  width: calc((100%-30px) / 4);
}
.advantage .item + .item {
  margin-left: 30px;
}
.occupation .list {
  display: flex;
  padding-left: 0;
}
.occupation .item + .item {
  margin-left: 30px;
}
.item > .no-line {
  display: block;
}
.team {
  background-color: var(--button-text-color);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.team .occupation-titel {
  margin-bottom: 50px;
}
.team .list {
  margin: 0;
  padding: 0;
  display: flex;
}
.img-foto {
  display: block;
  margin-bottom: 30px;
}
.card + .card {
  margin-left: 30px;
}
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
/* -----------------род занятий и команда ------------------------*/
.occupation-titel,
.examples-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin: 0 0 50px 0;
}
.team-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin: 0;
  margin-bottom: 10px;
}
.team-work {
  color: var(--titel-text-color);

  font-size: 16px;
  line-height: 1.19;

  margin: 0;
  margin-bottom: 30px;
}
.card-link-boxs {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
.card-link-box {
  width: 44px;
  height: 44px;

  border-radius: 50%;
}
.card-link-box:not(:last-child) {
  margin-right: 10px;
}
.card-link-svg {
  margin: 12px;

  fill: #afb1b8;
}

.card-link-box:hover {
  background-color: #2196f3;
}
.card-link-box:hover .card-link-svg {
  fill: #ffffff;
}
/* примеры работ */
.examples-boxs {
  display: flex;
  justify-content: center;
}
.examples-box {
  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.examples-box + .examples-box {
  margin-left: 30px;
}
.examples-svg {
  fill: #afb1b8;

  margin-top: 15px;
  margin-left: 31px;
}

.examples-box:hover {
  border: 1px solid #2196f3;
}
.examples-box:hover .examples-svg {
  fill: #2196f3;
}

/* -------------------- PORTFOLIO-----------------------*/
/* Кнопки фильтра */
.button {
  border: none;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}
.button.primary {
  background-color: var(--button-text-color);
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--second-text-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Контент на портфолео */

.contaent-titel {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  margin: 0 24px 4px 24px;
}

.contaent-text {
  color: var(--titel-text-color);

  font-size: 16px;
  line-height: 1.88;

  margin: 0 24px 0 24px;
}
/* фильр в портфолео */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-button {
  display: flex;
  padding: 0;
  margin: 0 0 50px 0;
  justify-content: center;
}
/* карточки на портфолео */
.contaent-cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.contaent-cards .list {
  margin-left: 0;
  display: block;
  width: calc((100% - 60px) / 3);
}
.list.list-cards {
  /* outline: 2px solid tomato; */
  border-bottom: 1px solid var(--nav-color-border);
}
.list.list-cards:not(:nth-child(3n + 3)) {
  /* outline: 2px solid teal; */
  margin-right: 30px;
}
.list.list-cards:not(:nth-last-child(-n + 3)) {
  /* outline: 2px solid gold; */
  margin-bottom: 30px;
}
.contaent-cards-img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: contain;

  background: #eeeeee;

  margin-bottom: 20px;
}
.contaent-cards-link {
  display: block;
  text-decoration: inherit;
  color: inherit;
  /* box-sizing: border-box; */

  padding-bottom: 20px;
}
.contaent-cards-link:hover {
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
